body {
    margin: 0;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: navy;
}

button {
    background-color: #d9d2e9;
    color: navy;
    border-radius: 5px;
    border: 1px solid navy;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    margin-bottom: 10px;
}

.outer_container {
    display: flex;
    justify-content: center;
}

.container {
    display: inline-grid;
    background-image: url("kitten.png");
  }
  
.box {
    aspect-ratio: 1 / 1;
    background-color: antiquewhite;
    /* opacity: 1; */
}

.hov_col {
    /* background-color: darkgreen; */
    aspect-ratio: 1 / 1;
    /* opacity: 0.1; */
} 
